<div>
  <% if @pagy.pages > 1 %>
    <div class="level-right py-2">
      <nav class='pagination is-rounded is-small'>
        <%== pagy_bulma_nav(@pagy, size: [1,1,1,1], pagy_id: 'pagy_nav')%>
      </nav>
    </div>
  <% end %>
  <% if @pagy.items > 0 %>
    <table class='table is-bordered is-fullwidth is-striped'>
      <thead class='has-text-centered'>
        <th>Код</th>
        <th>Автор</th>
        <th>Заголовок</th>
        <th>Дата изменения</th>
      </thead>
      <%= render articles %>
    </table>
  <% end %>
</div>
