<h1 class='title has-text-centered' >Новая статья</h1>
<div>
  <%= link_to "Возврат к поиску", articles_path, class: 'button is-fullwidth is-primary is-outlined' %>
</div>
<%= render "form", article: @article , text_button: 'Создать статью'%>
